@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/* -- Common Items START */



* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

h2{
    font-size: 20px;
    font-weight:700;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

.container {
    max-width: 1024px;
    margin: auto;
    margin-bottom: 25px;
}

/* -- Common Items END */



/* -- Header START */

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 0px 10px 0px;
}

.header__logo {
    font-size: 0;
}

.header__menu {
}

.header__menu li {
    display: inline-block;
}

.header__menu li+li {
    margin-left: 33px;
}

.header__menu a {
    font-size: 20px;
    color: #6c6c6c;
    position: relative;
}

.header__menu a:hover::after {
    content: "";
    position: absolute;
    left: -2px;
    right: -2px;
    bottom: -18px;
    border-bottom: 3px solid #5094f2;
}

/* -- Header END */




/* -- Burger START */
.menu-btn{
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    /* border: 1px solid #000; */
}

.menu-btn__burger-bottom,
.menu-btn__burger-middle,
.menu-btn__burger-top{
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background: #888888;
    border-radius: 2px;
    transition: all .5s cubic-bezier(0, 0, 0.2, 1);
}

.menu-btn__burger-top{
    transform: translateY(-7px);
}

.menu-btn__burger-bottom{
    transform: translateY(7px);
}



.menu-btn.open .menu-btn__burger-top{
    transform: rotate(135deg) translate(0px, 0px);
}

.menu-btn.open .menu-btn__burger-bottom{
    transform: translateY(17px) scale(2,1);
    
    background: transparent;
}


.menu-btn.open .menu-btn__burger-middle{
    transform: rotate(-135deg) translate(0px, 0px);
}


/* -- Burger END */



/* -- Slider section START */
.slider {

    /* The image used */
    background-image: url("img/slider-bg.png");

    /* Set a specific height */
    height: 90vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -- Slider section END */





/* -- Card section START */
.card-section {
    display: flex;
    justify-content: space-evenly;
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 260px;
    max-height: 300px;
    padding: 0px 5px 0px 5px;
}

.card__icon {
    flex-direction: row;
}

.card__icon_bg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    background-color: blue;

}

.card__icon_img {
    
}
/* .card__icon_img img{
    display: block;
    
} */



.card__content {
    font-size: 14px;
    text-align: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__content h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px 10px;
}


/* -- Card section END */



/* -- Shopping section START */
.shopping-section{
}

.shopping-section__title{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.shopping-section__content{
    display: flex;

}

.shopping-section__content_image{
    display: flex;
    justify-content: center;   
}

.shopping-section__content_image img{
    /* object-fit: contain; */
    max-width: 30vh;
    max-height: 30vh;
}



.shopping-section__content_text{
    padding-left: 27px;
    
}


/* -- Shopping section END */






/* -- Footer START */

.footer{
    margin: 50px 0 0 0;
    padding: 30px 0 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.44);
}
.footer__text{
    color: rgba(128, 128, 128, 0.44);
    text-align: center;
}

/* -- Footer END */




/* -- MOBILE view START */
@media screen and (max-width:700px){
    
    .menu-btn{
        display: flex;
    }



    
    .header__menu{
        display: none;
    }
    
    .header__wrapper{
        align-items: center;
    }
    
    
    
    .card {
        display: flex;
        flex-direction: row;
        height: 100px;
        max-height: 100px;
        padding: 0px 5px 0px 5px;
        
        
    }
    
    .card-section {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    
    .card__content h3 {
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        margin: 0px 0px 10px;
    }

    
    .card__icon_bg {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        height: 70px;
        width: 70px;
        background-color: blue;
    
    }

    .card__icon_img img{
        width: 40px;
        height: 40px;
    }

    .card__content {
        font-size: 14px;
        text-align: left;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 15px;
        padding-right: 10px;
        max-height: 100px;
    }

    .shopping-section__content{
        flex-direction: column;
        justify-content: center;
    }
    .shopping-section__title {
        justify-content: center;
    }

    .shopping-section__content_text {
        padding: 0px 10px;
    }
}










